@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    margin: auto;
}

h4 {
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 40px;
}

.app {
    margin: 20px auto;
    max-width: 500px;
}

.lastfood__item {
    list-style-type: none;
}

.current {
    margin-bottom: 50px;
}

.current__title {
    font-size: 50px;
}

.current__buttons {
    display: flex;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.current__icon {
    display: inline-block;
    vertical-align: middle;
    zoom: 3;
    margin-left: 10px;
}

.current__button {
    color: #fff;
    display: block;
    flex-grow: 1;
    width: 200px;
    padding: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
}

.current__button:hover {
    opacity: 0.6;
}

.current__button_ok {
    background-color: #76A67D;
    margin-right: 20px;
}

.current__button_notok {
    background-color: #E65B39;
}
